

.forcast-second-div{
    border: 4px solid rgb(14, 93, 238);
    display: flex;
    gap:15px;
}

.forcastdiv{
  border: 3px solid rgb(238, 14, 133);
  position: relative;
margin: .25rem;
  min-width: 20px; 
  color: #2c3e50;
  font-size: .95rem;
white-space: nowrap;
    
}
.seconddiv{
    display: flex;
flex-direction: column;
align-items: center;
padding: .5rem 1rem;
margin-right: .5rem;
transition: box-shadow .3s ease-in;
font-size: .95rem;
white-space: nowrap;
}

.forcast-div-title{
    margin: 0 0 .25rem;
font-weight: 600;
font-size: .95rem;
white-space: nowrap;
text-align: center;
}

.temperature-div{
    height: 5%;
    display: flex;
    gap: 10%;
}
.pressurediv{
    background: #f3fbff;
flex-grow: 1;
display: flex;
flex-direction: column;
padding: 1rem .75rem;
text-align: left;
margin-right: .5rem;
}
.tempraturediv{
    background: #f3fbff;
flex-grow: 1;
display: flex;
flex-direction: column;
padding: 1rem .75rem;
}


