.input-main-div{
    
    text-align: center;
color: #2c3e50;
box-shadow: 0 8px 10px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.1),0 -8px 12px 0 rgba(0,0,0,.05),0 -2px 3px -2px rgba(0,0,0,.01);
border-radius: 8px;
border: none;
display: block;
height: .1rem;
padding: 1.75rem 1.75rem 1.75rem 3rem;
font-weight: 600;
text-transform: capitalize;
transition: box-shadow .2s ease;
width: 100%;
font-family: inherit;
font-size: 100%;
line-height: 1.15;
margin: 0;
}

/* .input-second-div{
    border: 3px solid green;
} */


 /* .input-third{
    border: 3px solid blue;
    width: 60%;
    height: 30px;
}  */
.Search{
    height: 1.25rem;
width: 1.25rem;
text-align: center;
color: #2c3e50;
background: 0 0;
border: none;
position: absolute;
right: 1rem;
margin: 0;

}
.location{
    position: absolute;
left: 1rem;
height: 1.25rem;
width: 1.25rem;
text-align: center;
color: #2c3e50;

}


